/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Size each item in the header
.logo-1 {
    position: absolute;
    top: 50px;
    left: 50px;
}

.navbar2 {
    display: inline-block;
    margin: 0 auto;
}

.profile {
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
}

.site-logo-text-icon img {
    vertical-align: bottom;
}

.site-header {
    height: 80px;
    display:flex;
    align-items: center;
    padding-bottom: 5px;
}

// Site title
.site-logo-text {
    font-size: 2em;
}

/** --------------------------------------------------------------
 *  Footer
 */
 .byline-image {
     margin: 10px;

     img {
         border: none;
     }
 }

.byline-image,
.byline-text {
    display: table-cell;
    vertical-align: middle;
}

.footer-column-1,
.footer-column-3 {
    padding-left: 10px;
}

.footer-column-2 {
    padding-left: 10px;
}

.site-footer {
    ul {
        margin: 0;
        padding: 0;
        list-type: none;
    }

    li {
        display: inline;
    }
}
